In [107]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer, KNNImputer

In [80]:
df = pd.read_csv('data/raw.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [81]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition,multiple_deliveries,Time_taken (min)
count,43730.000000,43676.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,44591.000000,45584.000000
mean,29.566911,4.633774,17.017948,70.229684,17.465480,70.844161,1.023385,0.744635,26.293963
std,5.815064,0.334744,8.185674,22.885575,7.335562,21.120578,0.839055,0.572510,9.384298
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,0.000000,0.000000,10.000000
25%,25.000000,4.500000,12.933284,73.170000,12.988453,73.280000,0.000000,0.000000,19.000000
50%,30.000000,4.700000,18.551440,75.897963,18.633934,76.002574,1.000000,1.000000,26.000000
75%,35.000000,4.900000,22.728163,78.044095,22.785049,78.107044,2.000000,1.000000,32.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,3.000000,3.000000,54.000000

In [82]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [83]:
len(df)

45584

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [85]:
df['Delivery_person_Ratings'].isnull().sum()

1908

In [86]:
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype('str')

In [87]:
df['Vehicle_condition'] = df['Vehicle_condition'].astype('str')

In [88]:
df_new = df.drop(['ID'],axis='columns')

In [89]:
num_cols = [col for col in df_new.columns if df_new[col].dtype != 'object']
cat_cols = [col for col in df_new.columns if df_new[col].dtype == 'object']

In [90]:
num_cols, cat_cols

(['Delivery_person_Age',
  'Restaurant_latitude',
  'Restaurant_longitude',
  'Delivery_location_latitude',
  'Delivery_location_longitude',
  'multiple_deliveries',
  'Time_taken (min)'],
 ['Delivery_person_ID',
  'Delivery_person_Ratings',
  'Order_Date',
  'Time_Orderd',
  'Time_Order_picked',
  'Weather_conditions',
  'Road_traffic_density',
  'Vehicle_condition',
  'Type_of_order',
  'Type_of_vehicle',
  'Festival',
  'City'])

In [91]:
df_new['City'].value_counts()

Metropolitian    34087
Urban            10133
Semi-Urban         164
Name: City, dtype: int64

In [92]:
df_new.isnull().sum()

Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [93]:
df.duplicated().sum()

0

### Null Values in Numerical columns

In [94]:
df_new[num_cols].head()

,Delivery_person_Age,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,multiple_deliveries,Time_taken (min)
0,36.0,30.327968,78.046106,30.397968,78.116106,3.0,46
1,21.0,10.003064,76.307589,10.043064,76.347589,1.0,23
2,23.0,18.562450,73.916619,18.652450,74.006619,1.0,21
3,34.0,30.899584,75.809346,30.919584,75.829346,0.0,20
4,24.0,26.463504,80.372929,26.593504,80.502929,1.0,41

In [95]:
df_new[num_cols].isnull().sum()

Delivery_person_Age            1854
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
multiple_deliveries             993
Time_taken (min)                  0
dtype: int64

In [96]:
df_new['Delivery_person_Age'].head()

0    36.0
1    21.0
2    23.0
3    34.0
4    24.0
Name: Delivery_person_Age, dtype: float64

In [97]:
df_new['Delivery_person_Age'].describe()

count    43730.000000
mean        29.566911
std          5.815064
min         15.000000
25%         25.000000
50%         30.000000
75%         35.000000
max         50.000000
Name: Delivery_person_Age, dtype: float64

### Dropping Null Values

In [98]:
df_droped_nulls = df_new.dropna()

In [99]:
df_droped_nulls.isnull().sum()

Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [100]:
len(df_droped_nulls)

41410

In [101]:
len(df_new)

45584

### Replacing Null values with mean for numerical features and with mode for categorical features

In [102]:
df_mean_medain = df.copy()

In [103]:
df_mean_medain['Delivery_person_Age'].isnull().sum()

1854

In [104]:
mean_imputer = SimpleImputer(strategy='mean')

df_mean_medain[num_cols] = pd.DataFrame(mean_imputer.fit_transform(df_mean_medain[num_cols]), columns=num_cols)

df_mean_medain[num_cols].isnull().sum()

Delivery_person_Age            0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
multiple_deliveries            0
Time_taken (min)               0
dtype: int64

In [105]:
medaian_imputer = SimpleImputer(strategy='most_frequent')

df_mean_medain[cat_cols] = pd.DataFrame(medaian_imputer.fit_transform(df_mean_medain[cat_cols]), columns=cat_cols)

df_mean_medain[cat_cols].isnull().sum()

Delivery_person_ID         0
Delivery_person_Ratings    0
Order_Date                 0
Time_Orderd                0
Time_Order_picked          0
Weather_conditions         0
Road_traffic_density       0
Vehicle_condition          0
Type_of_order              0
Type_of_vehicle            0
Festival                   0
City                       0
dtype: int64

In [106]:
df_mean_medain.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

### Reaplacing Null values with KNN (k-Nearest Neighbours)

####    The KNNImputer from scikit-learn can only work with numeric data because it computes distances between data points based on numerical values.

####    To use KNNImputer, you'll need to handle categorical or string columns separately by encoding them into numeric values before performing imputation.

In [119]:
df_new[cat_cols].isnull().sum()

Delivery_person_ID            0
Delivery_person_Ratings       0
Order_Date                    0
Time_Orderd                1731
Time_Order_picked             0
Weather_conditions          616
Road_traffic_density        601
Vehicle_condition             0
Type_of_order                 0
Type_of_vehicle               0
Festival                    228
City                       1200
dtype: int64

In [120]:
df_new[num_cols].isnull().sum()

Delivery_person_Age            1854
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
multiple_deliveries             993
Time_taken (min)                  0
dtype: int64

In [117]:
# knn_imputer = KNNImputer(n_neighbors=2, weights='uniform')

# df_knn = pd.DataFrame(knn_imputer.fit_transform(df_new), columns=df_new.columns)

# knn_imputer.fit_transform(df_new)